*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 600px;
  
}


.container > div{
    margin-top: 10px;
    display: flex;

}

.container >div>div{
    margin: auto 30px;
    display: flex;
}

.div1>input{
width: 70px;

}

.input{width: 70px;}

#btn{
    margin:20px auto;
}
#text{width: 400px;}

#result{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    display: flex;
}
